{% extends 'base.html' %} {% block content %}
<img src='/static/bull-stock.jpeg' alt='Big Bull' class='position-absolute mw-100 opacity-50'>
<div class='d-flex justify-content-center m-3 position-relative'>
<form method="POST">
{{ form.csrf_token }}
 {% for field in form if field.widget.input_type != 'hidden'  %}

    <tr>
        <th>{{ field.label }}</th>
        <td>{{ field }}</td>
    </tr>
{% endfor %}
<div class='d-flex justify-content-center'>
          <button class="btn btn-success m-2">Sign In</button>

</form>
<div class='d-flex justify-content-center'>
<form action="/signup" method='GET'>
<button href="/signup" class="btn border  m-2">Sign Up</button>
</form>
</div>
</div>

{% endblock %}