{% extends 'base.html' %} {% block content %}
<div>

<form method="POST">
{{ form.csrf_token }}
 {% for field in form if field.widget.input_type != 'hidden'  %}

    <tr>
        <th>{{ field.label }}</th>
        <td>{{ field }}</td>
    </tr>
{% endfor %}
    <div class="edit-btn-area">
          <button class="btn btn-success">Sign In</button>
        </div>
</form>
<form action="/signup" method='GET'>
<button href="/signup" class="btn btn-success">Sign Up</button>
</form>
</div>


{% endblock %}