h3 {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Open Sans', sans-serif;
}

.bull {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.bull-wrap {
    position: relative;
}